blockquote{
	color:green;
}

a[href^="https"]{
color: #f00;
}
ul ul li a[title*="youtube"] {
	color: #ff8d00;
	}
ul + p{
	font-size: 26px;
}
a[title]{
	border: 1px solid #067b09;
}
h3{
	color: pink;
}
div+h3 {
 color: inherit;
}
#greycol{
	color: grey;
}
div > div >p {
	color: red;
}
.text-box h3[title="text"]{
	color: blue;
}
div + h3 + p{
color: green;
}
p.yellow{
	color: yellow;
}